body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
p{
    font-size: 70px;
    font-weight: bolder;
    color: rgb(82, 79, 79);
}
h2{
    font-size: 60px;
    font-weight: bold;
    color: rgb(82, 79, 79);
}
.orange{
    color: orange;
}
 

/* header */
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
    padding-top: 30px;
}

.description{
    padding-top: 50px;
}
.description h3{
    line-height: 200%;
    color: lightgray;
}
.header-p{
    color: gray;
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient( to right, rgb(233, 175, 69), tomato);
    color: white;
    font-weight: 700;
    padding : 20px 50px;
    border-radius: 20px;
    box-shadow: 10px 5px 30px rgb(241, 178, 59);
}


/* about me */
.about{
    background-image: url(images/shapes/frame1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.description-2{
    padding-top: 110px;
}
.description-2 h4{
    padding-top: 40px;
    line-height: 200%;
}


/* recipes */
.my-recipe{
    text-align: center;
}
.my-recipe h4{
    margin: 50px 350px;
    color: gray;
}

.recipie-card{
    width: 25%;
    height : 450px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 15px 15px 40px lightgray;
    border-radius: 10px;
    margin-top: 30px;
}
.recipie-card img{
    width: 300px;
    height: 200px;
    margin-top: 15px;
    margin-left: 13px;
}
.recipie-card h5{
    line-height: 200%;
    color: rgb(114, 111, 111);
}
.recipie-card h3{
    font-weight: bold;
    font-size: 27px;
}


/* visit us */
.input{
    margin-top: 20px;
    padding: 20px;
    width: 70%;
    height: 20px;
    border: 3px solid black;
}
.input-2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    height: 100px;
    border: 3px solid black;
}
.submit-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #555555;
    color: white;
  }
.visit-us img{
    margin-top: 65px;
}
.visit-us h1{
    font-size: 55px;
    font-weight: 80;
    padding-left: 5%;
}
.call-us{
    font-size: 80px;
}
.visit-us h3{
    font-size: 50px;
    color: rgb(95, 92, 92);
    font-weight: bold;
}
.hour{
    color: black;
}


/* reached-portion */
.reach-card{
    display: flex;
    box-shadow: 15px 15px 40px rgb(230, 229, 229);
    border-radius: 10px;
    margin: 8% 6%;
    padding: 2% 10%;
}

.subscriber{
    padding-right: 30%;
}
.subscriber h1{
    font-size: 60px;
    color: rgb(39, 32, 32);
}


/* footer */
footer{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
footer h2{
    padding-bottom: 0;
    margin-bottom: 0;
}
footer small{
    color: whitesmoke;
}
footer h6{
    color: rgb(197, 166, 166);
    letter-spacing: 5px;
}